/*  your css code here. If applicable */
.nav{
	display:flex;
	justify-content:space-between;
	width:100%;
	background-color:#6e072d;
	color:white;
}
ul{
	display:flex;
	gap:2rem
}
ul>li{
	list-style:none;
	padding:18px  27px;
	font-size:18px;
	border-right:2px solid white;
}
li:hover{
	background-color:#b90e4d;
	cursor:pointer;
}
